* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu, arial;
}

.gallery {
    position: relative;
    min-height: 100vh;
}

.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.gallery h1 {
    font-size: 60px;
    background-color: black;
    color: yellow;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.gallery .images {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 35%;
    /* height: 90%; */
    /* width: 60%; */
    background-color: aqua;
}

.img {
    display: block;
}